<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TakeABreak.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TakeABreakHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9C3DCF32DBCCE0C00C47807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C3DD032DBCCE0D00C47807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9C3DD0D2DBCCE0D00C47807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F70E5A2DA9C250008ED7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F70E6B2DA9C251008ED7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F70E752DA9C251008ED7B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
